.new-garden
  padding: 40px 0
  display: flex
  flex-direction: column
  align-items: center
  h1
    margin-bottom: 40px
  .growing-types
    border: 1px solid #eee
    border-radius: 5px
    padding: 10px 20px
    label
      color: #547254
  .add-button
    color: #547254
    border: 1px solid #547254
    background: none
  .submit-button
    font-size: 1.8rem
    padding: 15px 35px
    margin-top: 20px
